<li class="collection-item avatar">
  <%=get_status(user)%>
  <span class="title"><%= user.name %></span>
  <br><%=get_job(user)%>
  <div  class="secondary-content">
    <%=get_action(user)%>
  </div>
</li>
