<% provide(:title, '村に入る') %>
<h3>村に入る</h3>
<div class="collection">
  <%= render @villages %>
</div>
<div style="text-align: center;">
  <%= link_to "村を作成する", new_village_path ,
                              class: "waves-effect waves-light btn-large"%>
</div>
